.address{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8%;
}

.address div{
    width: 30%;
    padding: 0 5%;
}

.address h1, .locations h1{
    font-weight: 700;
    font-size: 3rem;
    color: black;
}

.address .content p{
    margin: 1rem 0;
}

.address .content p a{
    color: #000;
    text-decoration: none;
}

.map iframe{
    border: 0;
    width: 100%;
    min-height: 25rem;
}

.locations{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6% 3%;
}

.locations .cities{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30%;
    text-align: center;
}