@media only screen and (max-width: 1010px) {

    .locations .cities{
        width: 60%;
    }

    .h-p-50 .left{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 900px) {

    /* Responsive Navbar Start */
    *{
        background-position: center;
    }

    .toggle-button{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    header{
        flex-direction: column;
        align-items: flex-start;
        position: unset;
        top: unset;
    }

    .navbar-links ul{
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    header nav ul a{
        padding: 0.5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }
    /* Responsive Navbar End */

    .first-index h1{
        margin: auto;
        width: 90%;
        padding: 10% 0;
        text-align: center;
    }

    .cards{
        margin: auto;
        margin-bottom: 8%;
        width: 90%;
        padding: 0;
    }

    .second .content{
        width: 100%;
        background-color: var(--dark-bg);
    }

    .services{
        grid-template-columns: auto;
    }

    .key-features{
        flex-direction: column;
    }

    .key-features > div{
        width: 100%;
    }

    .fifth{
        flex-direction: column;
    }

    .fifth .text{
        width: 100%;
        text-align: center;
    }

    .fifth .form{
        width: 90%;
    }

    footer{
        flex-direction: column;
    }

    footer div{
        width: 90%;
        text-align: center;
        margin: 0.5rem 0;
    }

    footer div > *{
        margin: 1rem 0;
    }

    .h-p-50{
        flex-direction: column;
    }

    .h-p-50 .left{
        width: 100%;
        text-align: center;
    }

    .h-p-50 .right{
        width: 100%;
        padding: 10% 10%;
    }

    .steps{
        flex-direction: column;
    }

    .steps > *{
        width: 100%;
    }

    .content-feature{
        padding: 8% 5%;
    }

    .feature-quality p{
        width: 100%;
    }

    .address{
        flex-direction: column;
        padding: 6% 8%;
    }

    .address div{
        width: 100%;
        text-align: center;
    }

    .locations h1{
        text-align: center;
    }

    .photos img{
        grid-column: 1 / 3;
    }

    .tips{
        margin: 0% 3%;
        margin-bottom: 2%;
    }

    .tips div{
        padding: 2rem 2rem;
        grid-column: 1 / 3;
    }
}

@media only screen and (max-width: 500px) {
    #quote1{
        display: none;
    }

    .form{
        margin: 0;
    }

    #quote2{
        display: grid;
    }

    .locations .cities{
        width: 100%;
    }

    .h1-size{
        font-size: 3rem;
    }

    .fifth .text{
        margin: 5%;
    }

    .fifth .form{
        margin: 5%;
    }
}

@media only screen and (max-width: 400px) {
    .locations .cities > *{
        grid-column: 1 / 3;
    }
}